body {
background-color: #D9D9F3;
}
.sizeSelect {
  width: 60%;
  padding-left: 30%;
}
.topping {
  width: 75%
}
ul {
  list-style-type: none !important;
  font-size: 22px;
  font-family: monospace;
}
.jumbotron {
  text-align: center;
  background-color: #8968CD;
}
.jumbotron p {
  font-weight: bold;
}
#buyPizza {
  margin-bottom: 25px;
}
label {
  font-size: 18px;
}
.menu {
  font-size: 16px;
  padding-top: 60px;
}
